/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Chalkboard';
    src: url('fonts/Chalkboard-Bold.eot');
    src: url('fonts/Chalkboard-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chalkboard-Bold.woff2') format('woff2'),
        url('fonts/Chalkboard-Bold.woff') format('woff'),
        url('fonts/Chalkboard-Bold.ttf') format('truetype'),
        url('fonts/Chalkboard-Bold.svg#Chalkboard-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Chalkboard';
    src: url('fonts/Chalkboard.eot');
    src: url('fonts/Chalkboard.eot?#iefix') format('embedded-opentype'),
        url('fonts/Chalkboard.woff2') format('woff2'),
        url('fonts/Chalkboard.woff') format('woff'),
        url('fonts/Chalkboard.ttf') format('truetype'),
        url('fonts/Chalkboard.svg#Chalkboard') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KG Tangled Up In You';
    src: url('fonts/KGTangledUpInYou.eot');
    src: url('fonts/KGTangledUpInYou.eot?#iefix') format('embedded-opentype'),
        url('fonts/KGTangledUpInYou.woff2') format('woff2'),
        url('fonts/KGTangledUpInYou.woff') format('woff'),
        url('fonts/KGTangledUpInYou.ttf') format('truetype'),
        url('fonts/KGTangledUpInYou.svg#KGTangledUpInYou') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pigment DEMO';
    src: url('fonts/PigmentDEMO.eot');
    src: url('fonts/PigmentDEMO.eot?#iefix') format('embedded-opentype'),
        url('fonts/PigmentDEMO.woff2') format('woff2'),
        url('fonts/PigmentDEMO.woff') format('woff'),
        url('fonts/PigmentDEMO.ttf') format('truetype'),
        url('fonts/PigmentDEMO.svg#PigmentDEMO') format('svg');
    font-weight: normal;
    font-style: normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
    border-spacing: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-image: url("../images/bg.jpg");
}

.floatClear {
    clear: both;
}

.hidden {
    display: none;
}

#speakersPopUp {
    display: none;
	height: auto;
    background-color: #efefef;
    ptext-align: center;
    padding: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    width: 80%;
    z-index: 5;
}

#socialIcons {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
}

.menuSocialIcon {
    max-width: 30px;
    margin: 0 5px;
}

.colourBlue {
    color: #0055a5;
}

.colourGreen {
    color: #00853e;
}

.colourLightBlue {
    color: #11938b;
}

.colourPink {
    color: #ee2f6c;
}

#registerHeaderImage {
    text-align: center;
    width: 100%;
}

#registerHeaderImage img {
    max-width: 100%;
    margin: 50px auto 0 auto;
}

#registerHeader {
    color: #0055a5;
    font-size: 2rem;
    text-align: center;
    padding: 20px 20px 50px 20px;
    line-height: 30px;
    font-family: "Chalkboard";
    font-weight: "normal";
}

#registerRegisterHere {
    width: 100%;
    text-align: center;
}

#registerRegisterHere img {
    max-width: 60%;
    margin: 0;
}

#speakersHeaderImage {
    width: 100%;
    text-align: left;
    margin: 40px 0;
    padding: 0 50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

#speakersHeaderImage img {
    max-width: 100%;
}

.speaker {
    width: 100%;
    text-align: center;
}

.speaker img {
    max-width: 80%;
}

#speakersPopUpClose {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
    cursor: pointer;
}

#speakersPopUpName {
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    font-family: "Pigment DEMO";
    font-weight: bold;
}

#speakersPopUpTitle {
    font-size: 15px;
    padding: 10px;
    text-align: center;
    font-family: "Chalkboard";
    font-weight: bold;
}

#speakersPopUpLocation {
    font-size: 10px;
    padding: 5px;
    text-align: center;
    font-family: "Chalkboard";
    font-weight: bold;
}

#speakersPopUpText {
    font-size: 10px;
    padding: 5px;
    text-align: center;
    font-family: "Chalkboard";
}

#programmeHeaderImage {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

#programmeHeaderImage img {
    max-width: 90%;
}

.programmeEventTime {
    width: 10%;
    /*padding: 20px 40px 20px 80px; */
    color: #0055a5;
    font-family: "Pigment DEMO";
    font-weight: bold;
    font-size: 2rem;
    word-wrap: break-word;
}

.programmeEventName {
    width: 20%; 
    /* padding: 20px 40px 20px 0; */
    color: #0055a5;
    font-family: "Pigment DEMO";
    font-weight: bold;
    font-size: 2rem;
    word-wrap: break-word;
}

.pigment {
    font-family: "Pigment DEMO";
    font-weight: bold;
    font-size: 2rem;
}

.programmeEventDetails {
    width: 40%;
    /* padding: 20px 80px 20px 0; */
    color: #0055a5;
    font-family: "Chalkboard";
    font-size: 1.5rem;
    word-wrap: break-word;
}

#programmeImage {
    max-width: 100%
    text-align: center;
}

#rainbowImage {
    height: 30px;
}

#programme {
    overflow-x:hidden;
    padding: 0 50px;
}

#programmePrint {
    width: 100%;
    text-align: right;
}

#programmePrint img {
    max-width: 60%;

}

#venueHeaderImage {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

#venueHeaderImage img {
    max-width: 100%;
}

#venue {
    text-align: center;
}

#venueDetails {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    display: block;
    text-align: center;
}

#venueDetails img {
    max-width: 60%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

#venueDetailsText {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    display: block;
    vertical-align: top;
    text-align: left;
}

#accomodationHeaderImage {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

#accomodationHeaderImage img {
    max-width: 100%;
}

.accomodationDetails {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    display: block;
    padding: 10px 0;
}

.accomodationDetailsImage {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    display: block;
    text-align: center;
}

.accomodationDetailsImage img {
    max-width: 100%;
}

.accomodationDetailsText {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
    display: block;
    vertical-align: top;
    text-align: center;
}

.accomodationDetailsTextTable {
    text-align: left;
    margin: 0 auto;
}

.accomodationDetailsText1 {
    margin: 10px 0;
    min-height: 24px;
    font-family: "KG Tangled Up In You";
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    text-align: left;
}

.accomodationDetailsText2 {
    font-size: 0.9rem;
    font-family: "Chalkboard";
}

.accomodationDetailsText3 {
    font-size: 0.9rem;
    font-family: "Chalkboard";
}

.accomodationDetailsText4 {
    font-size: 0.9rem;
    font-family: "Chalkboard";
}

.accomodationDetailsText5 {
    font-size: 0.9rem;
    font-family: "Chalkboard";
}

.alignLeft {
    text-align: left;
}

.accomodationDetailsTextTable tbody tr td {
    padding: 5px 10px;
}

.accomodationDetailsIcon {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: top;
}

#socialHeaderImage {
    width: 100%;
    text-align: center;
}

#socialHeaderImage img {
    max-width: 100%;
}

#social {
    max-width: 100%;
}

#socialWeb {
    display: inline-block;
    max-width: 23%;
}

#socialFB {
    display: inline-block;
    max-width: 16%;
}

#socialTwitter {
    display: inline-block;
    max-width: 17%;
}

#socialDanone {
    display: inline-block;
    max-width: 29%;
    float: right;
}

#yoghurtMobile {
    width: 100%;
    text-align: center;
}

#yoghurtMobile img {
    max-width: 100%;
}

#hamburgerMenuCustom {
    background-color: #0055a5;
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 40px;
    display: none;
    z-index: 1;
}

#hamburgerMenuCustom nav ul li {
    text-align: center;
    padding: 10px;
}

#hamburgerMenuCustom nav ul li a {
    font-family: "KG Tangled Up In You";
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

#hamburgerMenuCustom nav ul li a:hover {
    border-bottom: 5px solid #ffffff;
}

.hamburgerShow {
    display: inline-block !important;
}

@media only screen and (min-width: 800px) { 

    #hamburgerMenuCustom nav ul li a {
        font-size: 3rem;
    }

    #registerHeaderImage img {
        max-width: 60%;
        margin: 0 auto;
    }

    #registerHeader {
        font-size: 3rem;
        line-height: 50px;
        padding: 0 100px;
    }

    #registerRegisterHere img {
        max-width: 30%;
        margin: 50px 0;
    }

    #venueDetails img {
        padding: 0 100px;
        max-width: 50%;
        display: inline-block;

    }

    #venueDetailsText {
        max-width: 40%;
        display: inline-block;
        margin-top: 5vw;
    }

    #venueDetails {
        text-align: left;
    }

    .accomodationDetails {
        width: 49%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box; 
        display: inline-block;
        padding: 50px;
    }

    .accomodationDetailsText1 {
        font-size: 2.5rem;
        text-align: left;
    
    }

    #venueHeaderImage img {
        max-width: 70%;
    }

    #accomodationHeaderImage img {
        max-width: 70%;
    }

    .accomodationDetailsImage {
        width: 30%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box; 
        display: inline-block;
    }
    
    .accomodationDetailsText {
        width: 69%;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box; 
        display: inline-block;
        vertical-align: top;
        padding: 0 40px 40px 40px;
        text-align: left;
    }

    #speakersHeaderImage img {
        max-width: 50%;
    }

    #socialHeaderImage img {
        max-width: 70%;
    }

    #speakersPopUpClose {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 4rem;
        cursor: pointer;
    }
    
    #speakersPopUpName {
        font-size: 32px;
        padding: 20px;
        text-align: center;
        font-family: "Pigment DEMO";
        font-weight: bold;
    }
    
    #speakersPopUpTitle {
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-family: "Chalkboard";
        font-weight: bold;
    }
    
    #speakersPopUpLocation {
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-family: "Chalkboard";
        font-weight: bold;
    }
    
    #speakersPopUpText {
        font-size: 20px;
        padding: 20px;
        text-align: center;
        font-family: "Chalkboard";
    }

    #speakersPopUp {
        display: none;
        height: auto;
        background-color: #efefef;
        ptext-align: center;
        padding: 40px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #000000;
    }

}